@import '../../styles/vars';

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02) 240px), linear-gradient(to bottom, white, rgba(243, 243, 243, 0.9));
    border-bottom: 1px solid $light-grey;
    box-shadow: $box-shadow-weak;

    button.home {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            transition: $transition-normal;
            fill: #555555;
        }

        &:hover {
            svg {
                fill: $oil;
            }
        }
    }
}
