<div class="content-wrapper" fadeIn>
    <div class="watch-name">
        <h2 class="large">Rolex Submariner</h2>
        <div class="precision">
            <span class="label">PRECISION: </span>
            <div class="text">+2 / -2 seconds per day</div>
        </div>
    </div>

    <div class="information-wrapper">
        <img class="seiko" alt="Rolex Submariner" src="assets/images/rolex-submariner.png">
        <div class="information">
            <div class="key-value-pair">
                <div class="key">Reference</div>
                <div class="value">116610LN</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Movement</div>
                <div class="value">Perpetual, self-winding</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Calibre</div>
                <div class="value">3135</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Power Reserve</div>
                <div class="value">48 hours</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Released</div>
                <div class="value">2010</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Website</div>
                <div class="value">
                    <a href="https://www.rolex.com/watches/submariner/m116610ln-0001.html"
                       target="_blank">
                        rolex.com
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline">
        <h5 class="timeline-label">
            ACCURACY TIMELINE
        </h5>
        <div class="week-row">
            <div class="week start">
                <h3>Start</h3>
                <div class="date">Nov. 2nd 2019</div>
            </div>
            <div class="average">
                <h3 class="seconds">TBD</h3>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">TBD</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week">
                <h3>Week One</h3>
                <div class="date">Nov. 9th 2019</div>
            </div>
            <div class="average">
                <h3 class="seconds">TBD</h3>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">TBD</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week">
                <h3>Week Two</h3>
                <div class="date">Nov. 16th 2019</div>
            </div>
            <div class="average">
                <h3 class="seconds">TBD</h3>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">TBD</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week">
                <h3>Week Three</h3>
                <div class="date">Nov. 23rd 2019</div>
            </div>
            <div class="average">
                <h3 class="seconds">TBD</h3>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">TBD</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week end">
                <h3>End</h3>
                <div class="date">Nov. 30th 2019</div>
            </div>
            <div class="average end"></div>
        </div>
    </div>

    <div class="results-wrapper">
        <div class="card">
            <h5 class="results-label">RESULTS</h5>
            <div class="result">TBD</div>
            <!--    <div class="result"></div>-->
        </div>
    </div>

    <div class="image-wrapper">
        <img src="assets/images/rolex-submariner-frank-ocean.jpg"
             alt="Rolex Submariner">
    </div>
</div>
