@import '../../../../styles/vars';

:host {
    .page-wrapper {
        h1 {
            width: 100%;
            text-align: center;
        }

        .heading-description {
            width: 100%;
            text-align: center;
            margin-bottom: 60px;
            color: #888888;
            font-family: $sans-serif;
            font-size: 2rem;
            font-weight: 300;
        }

        .images-wrapper {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                justify-content: center;
                align-items: center;

                + .row {
                    margin-top: 140px;
                }

                .image-wrapper {
                    position: relative;

                    img {
                        width: 100%;
                    }

                    .photographer {
                        position: absolute;
                        left: 0;
                        bottom: -40px;
                    }
                }

                &.two-images {
                    .image-wrapper {
                        width: 50%;

                        + .image-wrapper {
                            margin-left: 10%;
                        }
                    }
                }
            }
        }

        .project-by-wrapper {
            margin-top: 160px;
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .page-wrapper {
            h1 {
                text-align: unset;
                margin-bottom: 6px;
            }

            .heading-description {
                text-align: unset;
            }

            .images-wrapper {
                width: 100%;

                .row {
                    + .row {
                        margin-top: 100px;
                    }

                    .image-wrapper {
                        .photographer {
                            bottom: -36px;
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .project-by-wrapper {
                margin-top: 100px;
            }
        }
    }
}
