<div class="page-wrapper" fadeIn>
    <h1>28 Portraits by 28 Photographers</h1>
    <div class="heading-description">A selection of phenomenal portrait photography.</div>
    <div class="images-wrapper">
        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/lissy-elle-laricchia.jpg" alt="Lissy Elle Laricchia">
                <a class="photographer" href="http://www.lissyelle.com/" target="_blank">Lissy Elle Laricchia</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/zhang-jiacheng.jpg" alt="Leslie JiaCheng photo">
                <a class="photographer" href="http://lesliezhang.com/" target="_blank">Leslie JiaCheng</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/joshua-aronson.jpg" alt="Joshua Aronson photo">
                <a class="photographer" href="https://josharonson.us/" target="_blank">Joshua Aronson</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/elliot-and-rick.jpg" alt="Elliot & Rick photo">
                <a class="photographer" href="https://www.elliotanderick.com/" target="_blank">Elliot & Rick</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/maciek-jasik.jpg" alt="Maciek Jasik photo">
                <a class="photographer" href="https://www.maciekjasik.com/" target="_blank">Maciek Jasik</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/mia-haggi.jpg" alt="Mia Haggi photo">
                <a class="photographer" href="http://www.mia-haggi.com/" target="_blank">Mia Haggi</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/john-yuyi.jpg" alt="John Yuyi photo">
                <a class="photographer" href="https://johnyuyi.com/" target="_blank">John Yuyi</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/petra-collins.jpg" alt="Petra Collins photo">
                <a class="photographer" href="http://www.petracollins.com/" target="_blank">Petra Collins</a>
            </div>
        </div>



        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/jonas-unger.jpg" alt="Jonas Unger photo">
                <a class="photographer" href="http://www.jonasunger.com/" target="_blank">Jonas Unger</a>
            </div>
        </div>


        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/sebastian-palencia.jpg" alt="Sebastian Palencia photo">
                <a class="photographer" href="http://seabstn.com/" target="_blank">Sebastian Palencia</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/mikayla-whitmore.jpg" alt="Mikayla Whitmore photo">
                <a class="photographer" href="http://www.mikaylawhitmore.com/" target="_blank">Mikayla Whitmore</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/stella-morais.jpg" alt="Stella Morais photo">
                <a class="photographer" href="https://www.stella-morais.co.uk/" target="_blank">Stella Morais</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/slava-thisset.jpg" alt="Slava Thisset photo">
                <a class="photographer" href="https://www.behance.net/thisset" target="_blank">Slava Thisset</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/axel-morin.jpg" alt="Axel Morin photo">
                <a class="photographer" href="http://www.axelmorinstudio.com/" target="_blank">Axel Morin</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/sanne-de-wilde.jpg" alt="Sanne De Wilde photo">
                <a class="photographer" href="http://www.sannedewilde.com/" target="_blank">Sanne De Wilde</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/matt-adams.jpg" alt="Matt Adams photo">
                <a class="photographer" href="https://www.comefeelme.com/" target="_blank">Matt Adams</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/ian-lanterman.jpg" alt="Ian Lanterman photo">
                <a class="photographer" href="http://www.ianlanterman.com/" target="_blank">Ian Lanterman</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/harley-weir.jpg" alt="Harley Weir photo">
                <a class="photographer" href="http://www.harleyweir.com/" target="_blank">Harley Weir</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/rayan-ayash.jpg" alt="Rayan Ayash photo">
                <a class="photographer" href="https://www.rayanayash.com/" target="_blank">Rayan Ayash</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/olimpia-piccolo.jpg" alt="Olimpia Piccolo photo">
                <a class="photographer" href="https://www.olimpiapiccolo.com/" target="_blank">Olimpia Piccolo</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/mous-lambrabat.jpg" alt="Mous Lambrabat photo">
                <a class="photographer" href="https://mousmous.com/" target="_blank">Mous Lambrabat</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/gui-martinez.jpg" alt="Gui Martinez photo">
                <a class="photographer" href="https://guimartinez.com/" target="_blank">Gui Martinez </a>
            </div>
        </div>


        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/kelia-anne-maccluskey.jpg" alt="Kelia Anne MacCluskey photo">
                <a class="photographer" href="http://kelianne.com/" target="_blank">Kelia Anne MacCluskey</a>
            </div>
        </div>


        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/leandro-colantoni.jpg" alt="Leandro Colantoni photo">
                <a class="photographer" href="https://leandrocolantoni.com/" target="_blank">Leandro Colantoni</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/giuseppe-gradella.jpg" alt="Giuseppe Gradella photo">
                <a class="photographer" href="http://giuseppegradella.it/" target="_blank">Giuseppe Gradella</a>
            </div>
        </div>


        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/wang-wei.jpg" alt="Wang Wei photo">
                <a class="photographer" href="http://www.wangweiphoto.com/" target="_blank">Wang Wei</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/posternaks.jpg" alt="Posternaks photo">
                <a class="photographer" href="http://posternaks.com/" target="_blank">Posternaks</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/shin-noguchi.jpg" alt="Shin Noguchi photo">
                <a class="photographer" href="https://shinnoguchiphotography.com/" target="_blank">Shin Noguchi</a>
            </div>
        </div>
    </div>

    <div class="project-by-wrapper">
        <div class="project-by">
            <i>A project by <a href="https://adamfuhrer.com/">Adam Fuhrer</a></i><img alt="Camera" src="assets/images/emojis/camera.png">
        </div>
    </div>
</div>
