@import '../../../../styles/vars';
$pantone-gradient: linear-gradient(90deg, #0F4C81, #FF6F61, #5F4B8B, #88B04B, #92A8D1, #F7CAC9, #955251, #B163A3, #009473, #DD4124, #D94F70, #45B5AA, #F0C05A, #5A5B9F, #9B1B30, #DECDBE, #53B0AE, #E2583E, #7BC4C4, #BF1932, #C74375, #9BB7D4);

:host {
    .page-wrapper {
        h1 {
            width: 100%;
            text-align: center;
        }

        .heading-description {
            width: 100%;
            text-align: center;
            margin-bottom: 60px;
            color: #888888;
            font-family: $sans-serif;
            font-size: 2rem;
            font-weight: 300;
        }

        .images-wrapper {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                justify-content: center;
                align-items: center;

                + .row {
                    margin-top: 140px;
                }

                .image-wrapper {
                    position: relative;

                    img {
                        width: 100%;
                        max-width: 660px;
                    }

                    .photographer {
                        position: absolute;
                        left: -2px;
                        bottom: -46px;
                        font-size: 2.4rem;
                        opacity: 1;
                        transition: $transition-normal;
                        color: transparent;
                        background-clip: text;
                        background-size: cover;
                        font-weight: 500;
                        background-image: linear-gradient(90deg, $orange 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, $blue 72%, $green 86%, #6dba82 100%);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;

                        &:hover, &:focus {
                            transition: $transition-normal;
                            opacity: 0.8;
                        }
                    }
                }

                &.two-images {
                    .image-wrapper + .image-wrapper {
                        margin-left: 10%;
                    }
                }
            }
        }

        .project-by {
            margin-top: 180px;
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .page-wrapper {
            h1 {
                text-align: unset;
                margin-bottom: 6px;
            }

            .heading-description {
                text-align: unset;
                font-size: 1.6rem;
            }

            .images-wrapper {
                width: 100%;

                .row {
                    + .row {
                        margin-top: 100px;
                    }

                    .image-wrapper {
                        .photographer {
                            bottom: -32px;
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .project-by {
                margin-top: 100px;
            }
        }
    }
}
