@import '../../../../styles/vars';

:host {
    .page-wrapper {
        h1 {
            width: 100%;
            text-align: center;
        }

        .heading-description {
            width: 100%;
            text-align: center;
            margin-bottom: 60px;
            color: #888888;
            font-family: $sans-serif;
            font-size: 2rem;
            font-weight: 300;
        }

        .images-wrapper {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                justify-content: center;
                align-items: center;

                + .row {
                    margin-top: 140px;
                }

                .image-wrapper {
                    position: relative;

                    img {
                        width: 100%;
                        max-width: 660px;
                    }

                    .photographer {
                        position: absolute;
                        left: 0;
                        bottom: -40px;
                        font-size: 1.6rem;
                        background-size: cover;
                        font-weight: $medium;
                        padding: 2px 8px;
                        border-radius: 4px;
                        transition: $transition-normal;
                        color: $white;
                        -webkit-text-fill-color: $white;
                        text-shadow: $text-shadow-normal;
                        background: linear-gradient(120deg, $orange 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, $blue 72%, $green 86%, #6dba82 100%);
                        -webkit-background-clip: unset;

                        &:hover, &:focus {
                            transition: $transition-normal;
                            box-shadow: $box-shadow-strong;
                            transform: translateY(-4px);
                        }
                    }
                }

                &.two-images {
                    .image-wrapper + .image-wrapper {
                        margin-left: 10%;
                    }
                }
            }
        }

        .project-by-wrapper {
            margin-top: 160px;
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .page-wrapper {
            h1 {
                text-align: unset;
                margin-bottom: 6px;
            }

            .heading-description {
                text-align: unset;
            }

            .images-wrapper {
                width: 100%;

                .row {
                    + .row {
                        margin-top: 100px;
                    }

                    .image-wrapper {
                        .photographer {
                            bottom: -34px;
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .project-by-wrapper {
                margin-top: 100px;
            }
        }
    }
}
