<div class="page-wrapper" fadeIn>
    <h1>28 Portraits by 28 Photographers</h1>
    <div class="heading-description">A selection of phenomenal portrait photography.</div>
    <div class="images-wrapper">
        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/lissy-elle-laricchia.jpg" alt="Lissy Elle Laricchia">
                <a class="photographer" href="http://www.lissyelle.com/">Lissy Elle Laricchia</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/zhang-jiacheng.jpg" alt="Leslie JiaCheng photo">
                <a class="photographer" href="http://lesliezhang.com/">Leslie JiaCheng</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/joshua-aronson.jpg" alt="Joshua Aronson photo">
                <a class="photographer" href="https://www.jdaronson.com/">Joshua Aronson</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/maciek-jasik.jpg" alt="Maciek Jasik photo">
                <a class="photographer" href="https://www.maciekjasik.com/">Maciek Jasik</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/rayan-ayash.jpg" alt="Rayan Ayash photo">
                <a class="photographer" href="https://www.rayanayash.com/">Rayan Ayash</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/mia-haggi.jpg" alt="Mia Haggi photo">
                <a class="photographer" href="https://www.instagram.com/miahaggi/">Mia Haggi</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/john-yuyi.jpg" alt="John Yuyi photo">
                <a class="photographer" href="https://johnyuyi.com/">John Yuyi</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/petra-collins.jpg" alt="Petra Collins photo">
                <a class="photographer" href="https://www.petracollins.com/">Petra Collins</a>
            </div>
        </div>


        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/jonas-unger.jpg" alt="Jonas Unger photo">
                <a class="photographer" href="http://www.jonasunger.com/">Jonas Unger</a>
            </div>
        </div>



        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/sebastian-palencia.jpg" alt="Sebastian Palencia photo">
                <a class="photographer" href="http://seabstn.com/">Sebastian Palencia</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/mikayla-whitmore.jpg" alt="Mikayla Whitmore photo">
                <a class="photographer" href="http://www.mikaylawhitmore.com/">Mikayla Whitmore</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/stella-morais.jpg" alt="Stella Morais photo">
                <a class="photographer" href="https://www.stella-morais.co.uk/">Stella Morais</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/slava-thisset.jpg" alt="Slava Thisset photo">
                <a class="photographer" href="https://www.behance.net/thisset">Slava Thisset</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/axel-morin.jpg" alt="Axel Morin photo">
                <a class="photographer" href="http://www.axelmorinstudio.com/">Axel Morin</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/sanne-de-wilde.jpg" alt="Sanne De Wilde photo">
                <a class="photographer" href="http://www.sannedewilde.com/">Sanne De Wilde</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/matt-adams.jpg" alt="Matt Adams photo">
                <a class="photographer" href="https://www.instagram.com/comefeelme/?hl=en">Matt Adams</a>
            </div>
        </div>



        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/ian-lanterman.jpg" alt="Ian Lanterman photo">
                <a class="photographer" href="http://www.ianlanterman.com/">Ian Lanterman</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/mike-chalmers.jpg" alt="Mike Chalmers photo">
                <a class="photographer" href="http://mikechalmers.co.uk/">Mike Chalmers</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/denisse-ariana-perez.jpg" alt="Denisse Ariana Pérez photo">
                <a class="photographer" href="https://www.instagram.com/denisseaps/">Denisse Ariana Pérez</a>
            </div>
        </div>

        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/olimpia-piccolo.jpg" alt="Olimpia Piccolo photo">
                <a class="photographer" href="https://www.olimpiapiccolo.com/">Olimpia Piccolo</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/mous-lambrabat.jpg" alt="Mous Lambrabat photo">
                <a class="photographer" href="https://mousmous.com/">Mous Lambrabat</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/gui-martinez.jpg" alt="Gui Martinez photo">
                <a class="photographer" href="https://guimartinez.com/">Gui Martinez </a>
            </div>
        </div>


        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/kelia-anne-maccluskey.jpg" alt="Kelia Anne MacCluskey photo">
                <a class="photographer" href="http://kelianne.com/">Kelia Anne MacCluskey</a>
            </div>
        </div>


        <div class="row two-images">
            <div class="image-wrapper">
                <img src="assets/images/portraits/leandro-colantoni.jpg" alt="Leandro Colantoni photo">
                <a class="photographer" href="https://leandrocolantoni.com/">Leandro Colantoni</a>
            </div>

            <div class="image-wrapper">
                <img src="assets/images/portraits/giuseppe-gradella.jpg" alt="Giuseppe Gradella photo">
                <a class="photographer" href="http://giuseppegradella.it/">Giuseppe Gradella</a>
            </div>
        </div>



        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/wang-wei.jpg" alt="Wang Wei photo">
                <a class="photographer" href="https://www.instagram.com/wangwei_instagram/">Wang Wei</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/posternaks.jpg" alt="Posternaks photo">
                <a class="photographer" href="http://posternaks.com/">Posternaks</a>
            </div>
        </div>

        <div class="row">
            <div class="image-wrapper">
                <img src="assets/images/portraits/shin-noguchi.jpg" alt="Shin Noguchi photo">
                <a class="photographer" href="https://shinnoguchiphotography.com/">Shin Noguchi</a>
            </div>
        </div>
    </div>

    <div class="project-by">
        <i>A project by <a href="https://adamfuhrer.com/">Adam Fuhrer</a></i><img alt="Glitter" src="assets/images/emojis/camera.png">
    </div>
</div>
