@import '../../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
        width: 100%;
        max-width: $content-width;
        position: relative;

        .watch-name {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 10px;
            text-align: center;

            .precision {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                font-weight: $regular;

                .label {
                    margin-right: 8px;
                    color: #666666;
                    font-weight: $light;
                    letter-spacing: 1px;
                }

                .text {
                    color: $oil;
                }
            }
        }

        .information-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 290px;

            img {
                width: 200px;
                margin-right: 50px;
            }

            .information {
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;

                .key-value-pair {
                    display: flex;

                    + .key-value-pair {
                        margin-top: 6px;
                    }

                    .key {
                        width: 140px;
                        color: $grey;
                    }

                    .value {
                        font-weight: $medium;
                        color: $oil;
                    }
                }
            }
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        .timeline-label {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 40px;
        }

        .week-row {
            display: flex;
            justify-content: center;

            .week, .average {
                position: relative;
                max-width: 260px;
                height: 170px;
                flex: 1 1 0;
            }

            h3 {
                line-height: 1;
                margin-bottom: 6px;
            }

            .week {
                border-right: 3px solid $light-grey;
                padding-right: 24px;
                padding-left: 40px;

                &.end {
                    border-right-color: transparent;
                    height: 100px
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background: $white;
                    border: 2px solid #666666;
                    box-shadow: $box-shadow-weak;
                }

                h3 {
                    margin-top: -4px;
                }

                .date {
                    font-size: 1.6rem;
                    color: $grey;
                    font-weight: $regular;
                }
            }

            .average {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 60px;
                padding-top: 14px;

                &.end {
                    height: 100px
                }

                .seconds {
                    font-weight: $medium;
                    color: $oil;
                    font-style: italic;
                    font-size: 2.4rem;

                    //font-size: 2.6rem;
                    //font-family: $amaranth;
                    //letter-spacing: 2px;
                    //line-height: 1;
                }

                .average-per-day {
                    display: flex;
                    color: $oil;
                    font-size: 1.6rem;
                    font-weight: $regular;

                    .label {
                        color: $grey;
                    }

                    .text {
                        margin-left: 6px;
                    }
                }
            }
        }
    }

    .results-wrapper {
        display: flex;
        justify-content: center;

        .primary-card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 30px;
            max-width: 400px;
            box-shadow: $box-shadow-strong;
            background: linear-gradient(150deg, $green, hsla(167, 65%, 42%, 1), hsla(167, 65%, 34%, 1));
            color: $white;
            font-size: 3.2rem;
            text-align: center;
            border-radius: 10px;
            text-shadow: $text-shadow-normal;

            .results-label {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: $light;
                letter-spacing: 1px;
                margin-bottom: 10px;
                color: $white;
            }

            .result {
                font-family: $amaranth;
                font-weight: $semi-bold;
                line-height: 1.4;

                + .result {
                    margin-top: 4px;
                }
            }
        }
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        img {
            border-radius: 10px;
            max-width: 580px;
            width: 100%;
        }
    }


    @media screen and (max-width: 760px) {
        h2 {
            font-size: 4rem;
        }

        .content-wrapper {
            .watch-name {
                margin-bottom: 30px;

                .precision {
                    font-size: 1.6rem;
                }
            }

            .information-wrapper {
                img {
                    width: 140px;
                    min-width: 140px;
                    margin-right: 20px;
                }

                .information {
                    .key-value-pair {
                        flex-direction: column;

                        + .key-value-pair {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .timeline {
            .week-row {
                .week {
                    padding-left: 0;
                }

                .average {
                    padding-left: 24px;

                    .average-per-day {
                        flex-direction: column;
                        margin-top: 6px;

                        .text {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .results-wrapper {
            .primary-card {
                font-size: 2.8rem;
            }
        }

        .image-wrapper {
            margin-top: 40px;

            img {
                max-width: 100%;
            }
        }
    }
}
