@import '../../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
        width: 100%;
        max-width: $content-width;
        position: relative;

        .watch-name {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 50px;
            text-align: center;

            .precision {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                font-weight: $regular;

                .label {
                    margin-right: 8px;
                    color: #666666;
                    font-weight: $light;
                    letter-spacing: 1px;
                }

                .text {
                    color: $orange;
                }
            }
        }

        .information-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 290px;

            img {
                width: 200px;
                margin-right: 50px;
            }

            .information {
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;

                .key-value-pair {
                    display: flex;

                    + .key-value-pair {
                        margin-top: 6px;
                    }

                    .key {
                        width: 140px;
                        color: $grey;
                    }

                    .value {
                        font-weight: $medium;
                        color: $oil;

                        &.precision {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        .timeline-label {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 40px;
        }

        .week-row {
            display: flex;
            justify-content: center;

            .week, .average {
                position: relative;
                max-width: 260px;
                height: 170px;
                flex: 1 1 0;
            }

            h3 {
                line-height: 1;
                margin-bottom: 6px;
            }

            .week {
                border-right: 3px solid $light-grey;
                padding-right: 24px;
                padding-left: 40px;

                &.end {
                    border-right-color: transparent;
                    height: 100px
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background: $white;
                    border: 2px solid #666666;
                    box-shadow: $box-shadow-weak;
                }

                h3 {
                    margin-top: -4px;
                }

                .date {
                    font-size: 1.6rem;
                    color: $grey;
                    font-weight: $regular;
                }
            }

            .average {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 60px;
                padding-top: 14px;

                &.end {
                    height: 100px
                }

                .seconds {
                    font-weight: $medium;
                    color: $oil;
                    font-style: italic;
                    font-size: 2.4rem;
                }

                .average-per-day {
                    display: flex;
                    color: $oil;
                    font-size: 1.6rem;

                    .label {
                        font-weight: $medium;
                    }

                    .text {
                        margin-left: 6px;
                        color: $orange;
                        font-weight: $medium;
                    }
                }
            }
        }
    }

    .results-wrapper {
        display: flex;
        justify-content: center;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 140px;
            max-width: 240px;

            .results-label {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
            }

            .result {
                font-size: 2.4rem;
                color: $orange;
                font-weight: $semi-bold;

                + .result {
                    margin-top: 4px;
                }
            }
        }
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;

        img {
            border-radius: 10px;
            max-width: 580px;
            width: 100%;
        }
    }


    @media screen and (max-width: 760px) {
        h2 {
            font-size: 4rem;
        }

        .content-wrapper {
            .watch-name {
                margin-bottom: 40px;

                .precision {
                    font-size: 1.6rem;
                }
            }

            .information-wrapper {
                img {
                    width: 140px;
                    min-width: 140px;
                    margin-right: 20px;
                }

                .information {
                    .key-value-pair {
                        flex-direction: column;

                        + .key-value-pair {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .timeline {
            .week-row {
                .week {
                    padding-left: 0;
                }

                .average {
                    padding-left: 24px;

                    .average-per-day {
                        flex-direction: column;
                        margin-top: 6px;

                        .text {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
