@import '../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
        width: 100%;
        max-width: $content-width;
        position: relative;

        .watch-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 14px;
            text-align: center;
        }

        .information-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 300px;

            img {
                width: 200px;
                margin-right: 50px;
            }

            .information {
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;

                .key-value-pair {
                    display: flex;

                    .key {
                        width: 130px;
                        color: $grey;
                    }

                    .value {
                        font-weight: $semi-bold;
                        color: $oil;

                        &.precision {
                            color: $pink;
                            font-weight: $semi-bold;
                        }
                    }

                    + .key-value-pair {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        .week-row {
            display: flex;
            justify-content: center;

            .week, .average {
                position: relative;
                max-width: 240px;
                height: 170px;
                flex: 1 1 0;
            }

            h3 {
                line-height: 1;
                margin-bottom: 6px;
            }

            .week {
                position: relative;
                border-right: 4px solid $light-grey;
                padding-right: 24px;

                &.end {
                    border-right-color: transparent;
                    height: 100px
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: $grey;
                    box-shadow: $box-shadow-weak;
                }

                &.start {
                    &::after {
                        background: $green;
                    }
                }

                &.end {
                    &::after {
                        background: $red;
                    }
                }

                .date {
                    font-size: 1.6rem;
                    color: $grey;
                    font-weight: $regular;
                }
            }

            .average {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 60px;
                padding-top: 14px;

                &.end {
                    height: 100px
                }

                .seconds {
                    font-style: italic;
                }

                .average-per-day {
                    display: flex;
                    color: $oil;
                    font-size: 1.6rem;

                    .label {
                        font-weight: $regular;
                    }

                    .text {
                        margin-left: 6px;
                        color: $pink;
                        font-weight: $semi-bold;
                    }
                }
            }
        }
    }

    .results-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 160px;
            max-width: 320px;

            .results-label {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                font-size: 3rem;
                font-weight: $regular;
                line-height: 1;
                font-style: italic;
                color: $oil;
            }

            .result {
                font-size: 2.4rem;
                color: $pink;
                font-weight: $semi-bold;

                + .result {
                    margin-top: 4px;
                }
            }
        }
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        img {
            border-radius: 10px;
            max-width: 580px;
            width: 100%;
        }
    }

    .link {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        a {
            margin-left: 6px;
        }
    }

    @media screen and (max-width: 760px) {
        h2 {
            margin-top: 30px;
            font-size: 4rem;
        }

        .content-wrapper {
            .information-wrapper {
                img {
                    width: 140px;
                    min-width: 140px;
                    margin-right: 20px;
                }

                .information {
                    font-size: 1.4rem;

                    .key-value-pair {
                        flex-direction: column;
                    }
                }
            }
        }

        .timeline {
            .week-row {
                .average {
                    padding-left: 24px;

                    .average-per-day {
                        flex-direction: column;
                        margin-top: 4px;

                        .text {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
