<div class="projects-wrapper" fadeIn>
    <h1>Projects</h1>
    <h3>Accuracy of Mechanical Watches</h3>
    <div class="description">
        <div class="wrapper">
            <h4 class="title">WHY?</h4>
            <div class="text">
                To test the timekeeping accuracy of mechanical watches in everyday use in comparison to the
                manufacturer’s listed accuracy.
            </div>
        </div>
        <div class="wrapper">
            <h4 class="title">HOW?</h4>
            <div class="text">
                The watch is worn every day for a month straight and set to accurate UTC time at the same day and time
                each week. The difference between time gained or lost during the week is recorded.
            </div>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card" tabindex="0" routerLink="/projects/seiko-5-sports-accuracy">
            <div class="text-wrapper">
                <h2 class="name">Seiko 5 Sports</h2>
                <div class="model">SRPD79K1</div>
                <div class="label">Listed Precision:</div>
                <div class="precision">+45 / -35 seconds per day</div>
            </div>
            <img class="seiko" src="assets/images/seiko-5-sport.png">
        </div>
        <div class="card" tabindex="0" routerLink="/projects/rolex-submariner-accuracy">
            <div class="text-wrapper">
                <h2 class="name">Rolex Submariner</h2>
                <div class="model">116610LN</div>
                <div class="label">Listed Precision:</div>
                <div class="precision">+2 / -2 seconds per day</div>
            </div>
            <img class="rolex" src="assets/images/rolex-submariner.png">
        </div>
<!--        <div class="card" tabindex="0" routerLink="/projects/rolex-submariner-accuracy">-->
<!--            <div class="text-wrapper">-->
<!--                <h2 class="name">Rolex Submariner</h2>-->
<!--                <div class="model">116610LN</div>-->
<!--                <div class="label">Listed Precision:</div>-->
<!--                <div class="precision">+2 / -2 seconds per day</div>-->
<!--            </div>-->
<!--            <img class="rolex" src="assets/images/rolex-submariner.png">-->
<!--        </div>-->
    </div>
</div>
