@import '../../../styles/vars';
$head-shot-image-width: 180px;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
        display: flex;
        width: 100%;
        max-width: $content-width;

        img {
            width: $head-shot-image-width;
            height: $head-shot-image-width;
            min-width: $head-shot-image-width;
            margin-right: 44px;
            margin-top: 20px;
        }

        .right-content {
            display: flex;
            flex-direction: column;
        }

        .name-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
        }

        .name {
            font-family: $serif;
            font-size: 5.4rem;
            font-weight: $regular;
            color: $oil;
            letter-spacing: 1.4px;
            line-height: 1;
            margin-bottom: 6px;
        }

        .title {
            font-size: 2.4rem;
            font-style: italic;
            font-weight: $regular;
            color: $oil;
        }

        .links-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .link {
                display: flex;
                align-items: center;

                + .link {
                    margin-top: 6px;
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 16px;
                    min-width: 16px;
                    margin-right: 10px;

                    svg {
                        fill: #AAAAAA;
                    }
                }

                .text {
                    font-size: 1.6rem;
                    color: $oil;
                    font-weight: $regular;
                }
            }
        }

        .projects {
            height: 50px;
            width: 140px;
            min-width: 140px;
            padding-left: 20px;
            padding-right: 20px;
            color: $white;
            border-radius: 5px;
            background: $teal;
            transition: background 350ms $ease 0s;;
            font-weight: $semi-bold;
            font-size: 1.6rem;
            letter-spacing: 0.8px;

            &:hover, &:focus {
                background: lighten($teal, 4%);
            }
        }
    }

    .github {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 24px;
        left: calc(50% - 20px); // 20px is half button width
        width: 40px;
        height: 40px;
        background: $off-white;
        border-radius: 5px;
        border: 1px solid $light-grey;
        box-shadow: $box-shadow-weak;

        svg {
            width: 18px;
            fill: #555555;
            transition: $transition-normal;
        }

        &:hover {
            transition: $transition-normal;
            transform: translateY(-4px);

            svg {
                fill: $pink;
            }
        }
    }

    @media screen and (max-width: 880px) {
        margin-top: -40px;

        .content-wrapper {
            flex-direction: column;
            align-items: center;

            img {
                margin-top: 0;
                margin-bottom: 20px;
                margin-right: 0;
                width: 150px;
                height: 150px;
                min-width: 150px;
            }

            .name-wrapper {
                height: 100%;
                align-items: center;
                margin-bottom: 40px;
            }

            .name {
                font-size: 4.2rem;
                text-align: center;
            }

            .projects {
                width: 100%;
            }
        }

        .github {
            left: unset;
            right: 24px;
        }
    }
}
