@import '../../../styles/vars';
$head-shot-image-width: 150px;
$swing-degrees: 5deg;

@keyframes swing {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate($swing-degrees);
    }
    40% {
        transform: rotate(-$swing-degrees);
    }
    60% {
        transform: rotate($swing-degrees);
    }
    80% {
        transform: rotate(-$swing-degrees);
    }
    100% {
        transform: rotate(0);
    }
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.is-swinging {
        .content-wrapper {
            .card-wrapper {
                animation: swing ease-in-out 4s;
            }
        }
    }

    .content-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 10px;

        .thumbtack {
            position: absolute;
            top: -100px;
            left: calc(50% - 7px);
            width: 14px;
            height: 14px;
            background: #E68C0F;
            border-radius: 50%;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .card-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            transform-origin: center -90px;

            .hanger {
                position: absolute;
                top: -100px;
                left: calc(50% - 9px);

                .string {
                    position: absolute;
                    top: 55px;
                    width: 300px;
                    height: 3px;
                    background: $light-grey;

                    &.left {
                        right: -14px;
                        transform: rotate(-20deg);
                    }

                    &.right {
                        transform: rotate(20deg);
                        left: 4px;
                    }
                }
            }

            .profile-card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: $green;
                border-radius: 15px;
                padding: 40px 30px;
                width: 100%;
                max-width: 580px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.125), 0 4px 8px rgba(0, 0, 0, 0.175), 0 16px 32px rgba(0, 0, 0, 0.2);
                z-index: 1;
                background: linear-gradient(150deg, #1488b5, #3a1891);

                button.ghost {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 14px;
                    right: 14px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: $transition-normal;

                    img {
                        width: 22px;
                        height: 22px;
                        min-width: 22px;
                    }

                    &:hover, &:focus {
                        transition: $transition-normal;
                        background: rgba(255, 255, 255, 0.2);
                    }
                }

                .profile {
                    display: flex;
                    align-items: center;

                    img.headshot {
                        width: $head-shot-image-width;
                        height: $head-shot-image-width;
                        min-width: $head-shot-image-width;
                        margin-right: 40px;
                        border-radius: 50%;
                        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16);
                    }

                    .right-content {
                        display: flex;
                        flex-direction: column;
                        text-shadow: $text-shadow-normal;

                        .name-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-bottom: 20px;

                            .name {
                                font-family: $amaranth;
                                font-size: 5.4rem;
                                color: $white;
                                letter-spacing: 1px;
                                line-height: 1;
                                margin-top: 4px;
                            }

                            .title {
                                font-size: 3rem;
                                font-weight: $light;
                                font-style: italic;
                                color: $white;
                                line-height: 1;
                            }
                        }

                        .links-wrapper {
                            display: flex;
                            flex-direction: row;

                            .link {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 56px;
                                height: 56px;
                                background: rgba(255, 255, 255, 0.2);
                                border-radius: 50%;
                                transition: $transition-normal;

                                + .link {
                                    margin-left: 10px;
                                }

                                &:hover, &:focus {
                                    transition: $transition-normal;
                                    background: rgba(255, 255, 255, 0.3);
                                }

                                svg {
                                    width: 26px;
                                    height: 26px;
                                    min-width: 28px;
                                    fill: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        section.bio {
            max-width: 580px;
            margin-top: 60px;
            font-size: 2rem;
            color: $black;
            font-weight: $light;
        }

        section.projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            max-width: 900px;
            margin-top: 70px;

            .project {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                transition: $transition-normal;
                color: $oil;
                font-style: normal;
                font-size: 2rem;
                font-weight: 500;
                box-shadow: $box-shadow-strong;
                border-radius: 5px;
                overflow: hidden;
                background: $off-white;
                transform: translateY(0);

                &:hover, &:focus {
                    transition: $transition-normal;
                    transform: translateY(-4px);
                }

                img {
                    width: 100%;
                }

                .name {
                    padding: 20px;
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        margin-top: -106px;

        .content-wrapper {
            margin-top: 0;

            .card-wrapper {
                width: 100%;
                max-width: 500px;

                .hanger {
                    display: none;
                }

                .profile-card {
                    padding: 30px;

                    button.ghost {
                        display: none;
                    }

                    .profile {
                        flex-direction: column;

                        img.headshot {
                            margin-bottom: 20px;
                            margin-right: 0;
                            width: 150px;
                            height: 150px;
                            min-width: 150px;
                        }

                        .right-content {
                            .name-wrapper {
                                height: 100%;
                                align-items: center;
                                margin-bottom: 30px;

                                .name {
                                    font-size: 4.2rem;
                                    text-align: center;
                                }
                            }

                            .links-wrapper {
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            section.projects {
                margin-top: 30px;
                max-width: 500px;
                grid-template-columns: 1fr;
            }

            section.bio {
                max-width: 500px;
                margin-top: 30px;
            }
        }
    }
}
