@import '../../../styles/vars';
$head-shot-image-width: 190px;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;

        .card-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $green;
            border-radius: 15px;
            padding: 50px;
            width: 100%;
            max-width: 680px;
            box-shadow: $box-shadow-strong;
            border: 1px solid #20A084;

            .profile {
                display: flex;
                align-items: center;
                margin-bottom: 50px;

                img.headshot {
                    width: $head-shot-image-width;
                    height: $head-shot-image-width;
                    min-width: $head-shot-image-width;
                    margin-right: 40px;
                    border-radius: 50%;
                    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
                }

                .right-content {
                    display: flex;
                    flex-direction: column;

                    .name-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 24px;

                        .name {
                            font-family: 'Amaranth', sans-serif;
                            font-size: 5.4rem;;
                            font-weight: $regular;
                            color: $white;
                            letter-spacing: 2px;
                            line-height: 1;
                        }

                        .title {
                            font-size: 3rem;
                            font-weight: $light;
                            font-style: italic;
                            color: $white;
                        }
                    }

                    .links-wrapper {
                        display: flex;
                        flex-direction: column;

                        .link {
                            display: flex;
                            align-items: center;

                            + .link {
                                margin-top: 10px;
                            }

                            img {
                                width: 22px;
                                height: 22px;
                                min-width: 22px;
                                margin-right: 10px;
                            }

                            .text {
                                font-size: 1.6rem;
                                color: $white;
                                font-weight: $semi-bold;

                                a {
                                    color: $white;
                                    padding: 3px 5px;
                                    border-radius: 5px;
                                    background: rgba(255, 255, 255, 0.2);

                                    &:hover, &:focus {
                                        background: rgba(255, 255, 255, 0.3);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .projects {
                width: 100%;
                max-width: 260px;
                height: 54px;
                background: rgba(255, 255, 255, 0.94);
                color: $green;
                border-radius: 8px;
                box-shadow: $box-shadow-strong;
                font-weight: $semi-bold;
                font-size: 1.8rem;
                letter-spacing: 0.6px;
                transition: $transition-normal;

                &:hover, &:focus {
                    background: rgba(255, 255, 255, 1);
                    transition: $transition-normal;
                    transform: translateY(-4px);
                }
            }
        }
    }

    .github {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 24px;
        left: calc(50% - 20px); // 20px is half button width
        width: 40px;
        height: 40px;
        background: $off-white;
        border-radius: 5px;
        border: 1px solid $light-grey;
        box-shadow: $box-shadow-weak;
        transition: $transition-normal;

        svg {
            width: 18px;
            fill: #555555;
            transition: $transition-normal;
        }

        &:hover, &:focus {
            transition: $transition-normal;
            transform: translateY(-4px);

            svg {
                fill: $orange;
            }
        }
    }

    @media screen and (max-width: 880px) {
        margin-top: -80px;

        .content-wrapper {
            .card-wrapper {
                padding-left: 30px;
                padding-right: 30px;

                .profile {
                    flex-direction: column;

                    img.headshot {
                        margin-bottom: 20px;
                        margin-right: 0;
                        width: 150px;
                        height: 150px;
                        min-width: 150px;
                    }

                    .right-content {
                        .name-wrapper {
                            height: 100%;
                            align-items: center;
                            margin-bottom: 40px;

                            .name {
                                font-size: 4.2rem;
                                text-align: center;
                            }
                        }
                    }
                }

                .projects {
                    max-width: 100%;
                }
            }
        }

        .github {
            display: none;
        }
    }
}
