@import '../../../styles/vars';
$head-shot-image-width: 190px;
$swing-degrees: 5deg;

@keyframes swing {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate($swing-degrees);
    }
    40% {
        transform: rotate(-$swing-degrees);
    }
    60% {
        transform: rotate($swing-degrees);
    }
    80% {
        transform: rotate(-$swing-degrees);
    }
    100% {
        transform: rotate(0);
    }
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.is-swinging {
        .content-wrapper {
            .card-wrapper {
                animation: swing ease-in-out 4s;
            }
        }
    }

    .content-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;

        .thumbtack {
            position: absolute;
            top: -100px;
            left: calc(50% - 9px);
            width: 18px;
            height: 18px;
            background: $orange;
            border-radius: 50%;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .card-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            transform-origin: center -60px;

            .hanger {
                position: absolute;
                top: -100px;
                left: calc(50% - 9px);

                .string {
                    position: absolute;
                    top: 55px;
                    width: 300px;
                    height: 3px;
                    background: $light-grey;
                    z-index: -1;

                    &.left {
                        right: -14px;
                        transform: rotate(-20deg);
                    }

                    &.right {
                        transform: rotate(20deg);
                        left: 5px;
                    }
                }
            }

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: $green;
                border-radius: 15px;
                padding: 50px;
                width: 100%;
                max-width: 680px;
                box-shadow: $box-shadow-strong;
                z-index: 1;
                background: linear-gradient(150deg, #26B394, hsla(167, 65%, 42%, 1), hsla(167, 65%, 32%, 1));

                button.ghost {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 14px;
                    right: 14px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.2);
                    transition: $transition-normal;
                    border: 1px solid rgba(255, 255, 255, 0.6);

                    img {
                        width: 24px;
                        height: 24px;
                        min-width: 24px;
                    }

                    &:hover, &:focus {
                        transition: $transition-normal;
                        background: rgba(255, 255, 255, 0.3);
                    }
                }

                .profile {
                    display: flex;
                    align-items: center;
                    margin-bottom: 50px;

                    img.headshot {
                        width: $head-shot-image-width;
                        height: $head-shot-image-width;
                        min-width: $head-shot-image-width;
                        margin-right: 40px;
                        border-radius: 50%;
                        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
                    }

                    .right-content {
                        display: flex;
                        flex-direction: column;
                        text-shadow: 0 1px rgba(0, 0, 0, 0.14);

                        .name-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-bottom: 24px;

                            .name {
                                font-family: 'Amaranth', sans-serif;
                                font-size: 5.4rem;;
                                font-weight: $regular;
                                color: $white;
                                letter-spacing: 2px;
                                line-height: 1;
                            }

                            .title {
                                font-size: 3rem;
                                font-weight: $light;
                                font-style: italic;
                                color: $white;
                            }
                        }

                        .links-wrapper {
                            display: flex;
                            flex-direction: column;

                            .link {
                                display: flex;
                                align-items: center;

                                + .link {
                                    margin-top: 10px;
                                }

                                img {
                                    width: 22px;
                                    height: 22px;
                                    min-width: 22px;
                                    margin-right: 10px;
                                }

                                .text {
                                    font-size: 1.6rem;
                                    color: $white;
                                    font-weight: $semi-bold;

                                    a {
                                        color: $white;
                                        padding: 3px 5px;
                                        border-radius: 5px;
                                        background: rgba(255, 255, 255, 0.2);

                                        &:hover, &:focus {
                                            background: rgba(255, 255, 255, 0.3);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .projects {
                    width: 100%;
                    max-width: 260px;
                    height: 54px;
                    background: rgba(255, 255, 255, 0.94);
                    color: $green;
                    border-radius: 8px;
                    box-shadow: $box-shadow-strong;
                    font-weight: $semi-bold;
                    font-size: 1.8rem;
                    letter-spacing: 0.6px;
                    transition: $transition-normal;

                    &:hover, &:focus {
                        background: rgba(255, 255, 255, 1);
                        transition: $transition-normal;
                        transform: translateY(-4px);
                    }
                }
            }
        }
    }

    .github {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 24px;
        left: calc(50% - 20px); // 20px is half button width
        width: 40px;
        height: 40px;
        background: $off-white;
        border-radius: 5px;
        border: 1px solid $light-grey;
        box-shadow: $box-shadow-weak;
        transition: $transition-normal;

        svg {
            width: 18px;
            fill: #555555;
            transition: $transition-normal;
        }

        &:hover, &:focus {
            transition: $transition-normal;
            transform: translateY(-4px);

            svg {
                fill: $orange;
            }
        }
    }

    @media screen and (max-width: 880px) {
        margin-top: -80px;

        .content-wrapper {
            margin-top: 0;

            .card-wrapper {
                width: 100%;
                max-width: 460px;

                .hanger {
                    display: none;
                }

                .card {
                    padding-left: 30px;
                    padding-right: 30px;

                    button.ghost {
                        display: none;
                    }

                    .profile {
                        flex-direction: column;

                        img.headshot {
                            margin-bottom: 20px;
                            margin-right: 0;
                            width: 150px;
                            height: 150px;
                            min-width: 150px;
                        }

                        .right-content {
                            .name-wrapper {
                                height: 100%;
                                align-items: center;
                                margin-bottom: 40px;

                                .name {
                                    font-size: 4.2rem;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .projects {
                        max-width: 100%;
                    }
                }

            }
        }

        .github {
            display: none;
        }
    }
}
