@import '../../../styles/vars';
$head-shot-image-width: 150px;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;

    .content-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-shadow: $text-shadow-normal;

            img.headshot {
                width: $head-shot-image-width;
                height: $head-shot-image-width;
                min-width: $head-shot-image-width;
                border-radius: 50%;
                box-shadow: 0 1px 1px rgba(16, 27, 30, 0.15), 0 2px 2px rgba(16, 27, 30, 0.15), 0 4px 4px rgba(16, 27, 30, 0.15), 0 8px 8px rgba(16, 27, 30, 0.15), 0 16px 16px rgba(16, 27, 30, 0.15);
                ;
            }

            .name {
                font-family: $amaranth;
                font-size: 5.4rem;
                color: $text-white;
                letter-spacing: 2px;
                line-height: 1;
                margin-top: 14px;
                text-align: center;
            }

            .title {
                font-size: 2rem;
                line-height: 1;
                margin-top: 16px;
                text-align: center;
                font-family: $code;
                line-height: 1.6;
            }

            .links-wrapper {
                display: flex;
                flex-direction: row;
                margin-top: 16px;

                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 46px;
                    height: 46px;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    transition: $transition-normal;
                    box-shadow: $box-shadow-weak;

                    +.link {
                        margin-left: 10px;
                    }

                    &:hover,
                    &:focus {
                        transition: $transition-normal;
                        background: rgba(255, 255, 255, 0.3);
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        min-width: 20px;
                        fill: $text-white;
                    }
                }
            }
        }

        p {
            margin-top: 100px;
            font-size: 1.6rem;
            font-family: $code;
            max-width: 460px;
        }

        section.projects {
            display: flex;
            flex-direction: column;
            max-width: 880px;
            margin-top: 80px;

            .project {
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                +.project {
                    margin-top: 50px;
                }

                img {
                    width: 100%;
                    max-width: 280px;
                    box-shadow: $box-shadow-strong;
                    margin-right: 30px;
                    border-radius: 8px;
                }

                .right {
                    .name {
                        font-family: $amaranth;
                        font-size: 2.4rem;
                        width: 100%;
                        margin-bottom: 14px;
                    }

                    .description {
                        margin-bottom: 20px;
                        font-family: $code;
                        color: rgb(255 255 255 / 0.8);
                    }

                    a.main {
                        display: inline-block;
                        font-family: $code;
                        padding: 6px 10px;
                        display: inline-block;
                        border-radius: 6px;
                        box-shadow: $box-shadow-strong;
                        background: rgba(120, 226, 160, .20);
                        transition: $transition-normal;

                        &:hover,
                        &:focus {
                            transition: $transition-normal;
                            background: rgba(120, 226, 160, .26);
                        }

                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .content-wrapper {
            .profile {
                display: flex;
                justify-content: center;

                img.headshot {
                    margin-bottom: 20px;
                    margin-right: 0;
                    width: 150px;
                    height: 150px;
                    min-width: 150px;
                }

                .name {
                    font-size: 4.2rem;
                    text-align: center;
                }

                .title {
                    font-size: 1.8rem;
                }
            }

            section.projects {
                margin-top: 50px;
                max-width: 500px;
                padding-left: 0;
                padding-right: 0;

                .project {
                    flex-direction: column;

                    img {
                        max-width: 100%;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }

                    +.project {
                      margin-top: 60px;
                    }
                }
            }
        }

        section.bio {
            margin-top: 30px;
        }
    }
}
