/* Lato Heavy */
@font-face {
    font-weight: 800;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Heavy.ttf')
}

/* Lato Heavy Italic */
@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-HeavyItalic.ttf')
}

/* Webfont: Lato Bold */
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Bold.ttf')
}

/* Lato Bold Italic */
@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-BoldItalic.ttf')
}

/* Lato Semibold */
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Semibold.ttf')
}

/* Lato Semibold Italic */
@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-SemiboldItalic.ttf')
}

/* Lato Medium */
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Medium.ttf')
}

/* Lato Medium Italic */
@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-MediumItalic.ttf')
}

/* Lato-Regular */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.ttf')
}

/* Lato Regular Italic */
@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Italic.ttf')
}

/* Lato Light */
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Light.ttf')
}

/* Lato Light Italic */
@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-LightItalic.ttf')
}
