/* Webfont: Lato Black */
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Black.ttf')
}

/* Webfont: Lato Black Italic */
@font-face {
    font-weight: 900;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-BlackItalic.ttf')
}

/* Webfont: Lato Heavy */
@font-face {
    font-weight: 800;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Heavy.ttf')
}

/* Webfont: Lato Heavy Italic */
@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-HeavyItalic.ttf')
}

/* Webfont: Lato Bold */
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Bold.ttf')
}

/* Webfont: Lato Bold Italic */
@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-BoldItalic.ttf')
}

/* Webfont: Lato Semibold */
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Semibold.ttf')
}

/* Webfont: Lato Semibold Italic */
@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-SemiboldItalic.ttf')
}

/* Webfont: Lato Medium */
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Medium.ttf')
}

/* Webfont: Lato Medium Italic */
@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-MediumItalic.ttf')
}

/* Webfont: LatoLatin-Regular */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.ttf')
}

/* Webfont: LatoLatin-RegularItalic */
@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Italic.ttf')
}

/* Webfont: Lato Light */
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Light.ttf')
}

/* Webfont: Lato Light Italic */
@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-LightItalic.ttf')
}

/* Webfont: Lato Light */
@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Thin.ttf')
}

/* Webfont: LatoLatin-LightItalic */
@font-face {
    font-weight: 200;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-ThinItalic.ttf')
}
