@import 'vars';

h1 {
    font-family: $amaranth;
    font-size: 4rem;
    color: $text-white;
    font-weight: $regular;
    letter-spacing: 0.6px;
    line-height: 1.4;
}

h2 {
    font-family: $amaranth;
    font-size: 2.4rem;
    color: $text-white;
    font-weight: $regular;

    &.large {
        letter-spacing: 0.8px;
        font-size: 5.4rem;
    }
}

h3 {
    font-size: 2.4rem;
    color: $text-white;
    font-weight: $medium;
}

h4 {
    font-size: 1.8rem;
    color: $text-white;
    font-weight: $light;
    font-style: italic;
}

h5 {
    font-size: 2.4rem;
    color: $text-white;
    font-weight: $light;
    letter-spacing: 1px;
}
