@import '../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
        width: 100%;
        max-width: $content-width;

        section {
            + section {
                margin-top: 60px;
            }

            .project-name {
                display: inline-flex;
                align-items: center;
                transition: $transition-normal;
                color: $oil;

                + .project-name {
                    margin-top: 30px;
                }

                &:focus {
                    outline: none;
                }

                &:hover, &:focus {
                    color: $orange;
                    cursor: pointer;
                    transition: $transition-normal;

                    svg {
                        margin-left: 22px;
                    }
                }

                svg {
                    width: 24px;
                    min-width: 24px;
                    margin-left: 14px;
                    transition: $transition-normal;

                    path {
                        fill: $oil;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .project-name {
            width: 100%;

            .text-wrapper {
                width: 100%;
            }
        }
    }
}
