@import '../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $content-width;
        margin-top: 60px;
    }

    .project-by-wrapper {
        display: flex;
        justify-content: center;

        .project-by {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: $light;
            font-size: 1.8rem;
            border-top: $transparent-border;
            max-width: 400px;
            width: 100%;
            padding-top: 30px;

            a {
                margin-left: 6px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .page-wrapper {
            h1 {
                font-size: 3.4rem;
            }
        }
    }
}
