@import '../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $content-width;

        .links-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            a.link {
                background: $orange;
                color: $white;
                padding: 6px 8px;
                border-radius: 6px;
                transition: $transition-normal;
                box-shadow: $box-shadow-weak;

                &:hover, &:focus {
                    background: lighten($orange, 8%);
                }
            }

            .github {
                width: 18px;
                height: 18px;
                margin-left: 10px;

                svg {
                    fill: #333333;
                    width: 18px;
                    height: 18px;
                    transition: $transition-normal;
                }

                &:hover {
                    svg {
                        fill: #666666;
                    }
                }
            }
        }

        a.screenshot {
            margin-bottom: 60px;
        }
    }

    .project-by-wrapper {
        display: flex;
        justify-content: center;

        .project-by {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $oil;
            font-weight: $light;
            font-size: 1.8rem;
            border-top: 1px solid #EEEEEE;
            max-width: 400px;
            width: 100%;
            padding-top: 30px;

            i {
                margin-right: 6px;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .page-wrapper {
            h1 {
                font-size: 3.4rem;
            }
        }
    }
}
