@import '../../../../../styles/vars';

:host {
    display: block;
    width: 100%;
    padding-top: 20px;

    .card-wrapper {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        font-family: $amaranth;
        background: $light-grey;
        box-shadow: $box-shadow-weak;
    }

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        color: $white;
        text-shadow: $text-shadow-normal;
        width: 100%;
        height: 160px;
        position: relative;
        margin-bottom: 4px;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-right: 20px;

            .name {
                font-size: 4rem;
                line-height: 1.2;
            }

            .pantone, .hex {
                font-size: 1.8rem;
            }
        }

        .right {
            display: flex;
            align-items: center;
            height: 100%;

            .year {
                font-size: 6rem;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 30px;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-right: 10px;
            margin-left: 20px;

            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background: transparent;
                color: rgba(255, 255, 255, 0.6);
                text-shadow: none;

                svg {
                    transition: $transition-normal;
                    fill: rgba(255, 255, 255, 0.6);
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    color: rgba(255, 255, 255, 0.9);

                    svg {
                        fill: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }
    }

    .images {
        display: flex;
        flex-direction: row;
        height: 100%;
        max-height: 320px;
    }

    @media screen and (max-width: 880px) {
        .top-bar {
            height: 120px;
            padding-left: 24px;

            .left {
                .name {
                    font-size: 3rem;
                }

                .pantone, .hex {
                    font-size: 1.6rem;
                }
            }

            .right {
                .year {
                    font-size: 3.6rem;
                }

                .links {
                    .bottom {
                        display: none;
                    }
                }
            }
        }
    }
}
