@import '../../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $content-width;

        h1 {
            margin-bottom: 10px;
        }

        .link {
            color: #E68C0F;
            border: 1px solid #E68C0F;
            background: rgba(230, 140, 15, 0.06);
            margin-bottom: 30px;
            font-size: 1.6rem;
            padding: 4px 10px;
            border-radius: 6px;
            width: max-content;
            transition: $transition-normal;

            &:hover, &:focus {
                background: rgba(230, 140, 15, 0.10);
                transition: $transition-normal;
            }
        }

        .description {
            margin-bottom: 40px;
            font-size: 1.6rem;
        }

        img {
            height: auto;
            max-width: 100%;
            border-radius: 5px;
            box-shadow: $box-shadow-strong;
        }
    }
}
