<div class="page-wrapper" fadeIn>
    <h1>The Curated Feed</h1>
    <a class="link" href="https://thecuratedfeed.com/" target="_blank">thecuratedfeed.com</a>
    <div class="description">
        Created as a way to document noteworthy images and links I come across while surfing the web. Commentary on
        the site is left to a minimum, allowing for the content to speak for itself.
    </div>
    <a href="https://thecuratedfeed.com/" target="_blank">
        <img alt="The Curate Feed" src="assets/images/the-curated-feed.png">
    </a>
</div>
