@import '../../../../styles/vars';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $content-width;

        h1 {
            margin-bottom: 6px;
        }

        .link {
            margin-bottom: 30px;
        }

        .description {
            margin-bottom: 40px;
        }

        img {
            height: auto;
            max-width: 100%;
            border-radius: 5px;
            box-shadow: $box-shadow-strong;
        }
    }
}
