@import '../../../../styles/vars';

:host {
    .page-wrapper {
        h1 {
            margin-bottom: 10px;
        }

        a.color {
            width: 160px;
            margin-bottom: 20px;
        }

        .description {
            margin-bottom: 40px;
        }

        img {
            height: auto;
            max-width: 100%;
            border-radius: 5px;
            box-shadow: $box-shadow-strong;
        }
    }
}
