<div class="content-wrapper" fadeIn>
    <div class="watch-name">
        <h2 class="large">Seiko 5 Sports</h2>
        <div class="precision">
            <span class="label">PRECISION: </span>
            <div class="text">+45 / -35 seconds per day</div>
        </div>
    </div>
    <div class="information-wrapper">
        <img class="seiko" alt="Seiko 5 Sports" src="assets/images/seiko-5-sport.png">
        <div class="information">
            <div class="key-value-pair">
                <div class="key">Reference</div>
                <div class="value">SRPD79K1</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Movement</div>
                <div class="value">Self-winding</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Calibre</div>
                <div class="value">4R36</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Power Reserve</div>
                <div class="value">41 hours</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Released</div>
                <div class="value">2019</div>
            </div>
            <div class="key-value-pair">
                <div class="key">Website</div>
                <div class="value">
                    <a href="https://www.seikowatches.com/global-en/products/5sports/srpd79k1"
                       target="_blank">
                        seikowatches.com
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline">
        <h5 class="timeline-label">
            ACCURACY TIMELINE
        </h5>
        <div class="week-row">
            <div class="week start">
                <h3>Start</h3>
                <div class="date">Oct. 5th 2019</div>
            </div>
            <div class="average">
                <div class="seconds">-28 seconds</div>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">-4 seconds/day</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week">
                <h3>Week One</h3>
                <div class="date">Oct. 12th 2019</div>
            </div>
            <div class="average">
                <div class="seconds">-35 seconds</div>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">-5 seconds/day</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week">
                <h3>Week Two</h3>
                <div class="date">Oct. 19th 2019</div>
            </div>
            <div class="average">
                <div class="seconds">-46 seconds</div>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">-6.6 seconds/day</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week">
                <h3>Week Three</h3>
                <div class="date">Oct. 26th 2019</div>
            </div>
            <div class="average">
                <div class="seconds">TBD</div>
                <div class="average-per-day">
                    <div class="label">Average:</div>
                    <div class="text">TBD</div>
                </div>
            </div>
        </div>
        <div class="week-row">
            <div class="week end">
                <h3>End</h3>
                <div class="date">Nov. 2nd 2019</div>
            </div>
            <div class="average end"></div>
        </div>
    </div>
    <div class="results-wrapper">
        <div class="card">
            <h5 class="results-label">RESULTS</h5>
            <div class="result">TBD</div>
<!--            <div class="result"></div>-->
        </div>
    </div>

    <div class="image-wrapper">
        <img src="assets/images/seiko-5-sports-frank-ocean.jpg"
             alt="Seiko 5 Sports Black">
    </div>
</div>
