<div class="page-wrapper" fadeIn>
    <h1>Accuracy of Mechanical Watches</h1>
    <div class="description">
        <div class="wrapper">
            <p>
                Since a young age I’ve always had a fascination with watches — specifically mechanical watches.
                Mechanical watches are powered by a carefully regulated release of energy from a wound spring and use
                purely mechanical components to keep time. Being fortunate enough to own a few luxury watches, I
                wanted to test the accuracy of their timekeeping against their manufacturer’s listed precision. To measure
                this, I wore the watch every day for a month and set it to UTC time at the same day and time each week.
                The difference between time gained or lost during the week is recorded.
            </p>
        </div>
    </div>
    <div class="watch-cards-wrapper">
        <div class="card clickable" tabindex="0" routerLink="/accuracy-of-mechanical-watches/rolex-submariner">
            <div class="text-wrapper">
                <h2 class="name">Rolex Submariner</h2>
                <div class="model">116610LN</div>
                <div class="label">Precision</div>
                <div class="precision">+2 / -2 seconds per day</div>
            </div>
            <img class="rolex" alt="Rolex Submariner Black" src="assets/images/rolex-submariner.png">
        </div>
        <div class="card clickable" tabindex="0" routerLink="/accuracy-of-mechanical-watches/seiko-5-sports">
            <div class="text-wrapper">
                <h2 class="name">Seiko 5 Sports</h2>
                <div class="model">SRPD79K1</div>
                <div class="label">Precision</div>
                <div class="precision">+45 / -35 seconds per day</div>
            </div>
            <img class="seiko" alt="Seiko 5 Sports Black" src="assets/images/seiko-5-sport.png">
        </div>
    </div>
</div>
