@import '../../../../styles/vars';

:host {
    .page-wrapper {
        h1 {
            margin-bottom: 10px;
        }

        .description {
            margin-bottom: 40px;
        }

        img {
            width: 100%;
        }
    }
}
