<div class="page-wrapper" fadeIn>
    <h1>Glitch Art Generator</h1>
    <p class="description">
        Create and share beautiful gradient glitch art wallpapers.
        Website: <a href="https://glitchart.io/" target="_blank">glitchart.io</a>
    </p>
    <a href="https://glitchart.io/" class="screenshot" target="_blank">
        <img alt="Glitch Art Generator Screenshot" src="assets/images/glitch-art.jpg">
    </a>
    <img alt="Glitch Art 2" src="assets/images/glitch-art-desktop-2.png">
    <img alt="Glitch Art 3" src="assets/images/glitch-art-desktop-3.png">
    <img alt="Glitch Art 1" src="assets/images/glitch-art-desktop-1.png">
</div>
