@import 'styles/base';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

button {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    font-family: $sans-serif;
    font-size: 1.4rem;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: $green;
    text-shadow: 0 0 2px rgb(0 236 120 / .2), 0 0 5px rgb(0 236 120 / 20%);
    transition: $transition-normal;

    &:hover {
      transition: $transition-normal;
      color: lighten($green, 10%)
    }

    &.color {
        font-size: 1.6rem;
        background-size: cover;
        font-weight: $medium;
        padding: 2px 8px;
        border-radius: 4px;
        transition: $transition-normal;
        color: $white;
        -webkit-text-fill-color: $white;
        text-shadow: $text-shadow-normal;
        background: linear-gradient(120deg, $orange 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, $blue 72%, $green 86%, #6dba82 100%);
        -webkit-background-clip: unset;

        &:hover, &:focus {
            transition: $transition-normal;
            box-shadow: $box-shadow-strong;
            transform: translateY(-4px);
        }
    }
}

p {
    color: $text-white;
    font-size: 1.6rem;

    + p {
        margin-top: 20px;
    }
}

.card {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    background: $off-white;
    width: 100%;

    &.clickable {
        box-shadow: $box-shadow-weak;
        transition: $transition-normal;

        &:hover, &:focus {
            transform: translateY(-5px);
            box-shadow: $box-shadow-strong;
            transition: $transition-normal;
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
