@import 'styles/base';

button {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    font-family: $sans-serif;
    font-size: 1.4rem;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

a {
    color: $teal;
    text-decoration: none;
    transition: $transition-normal;

    &:hover, &:focus {
        color: lighten($teal, 6%);
        outline: none;
    }
}

.card {
    border: 1px solid $light-grey;
    border-radius: 10px;
    background: $off-white;
    width: 100%;

    &.clickable {
        box-shadow: $box-shadow-weak;
        transition: $transition-normal;

        &:hover, &:focus {
            transform: translateY(-4px);
            box-shadow: $box-shadow-strong;
            transition: $transition-normal;
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
