@import 'styles/base';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

button {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    font-family: $sans-serif;
    font-size: 1.4rem;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

a {
    color: $orange;
    text-decoration: none;
    transition: color 350ms $ease 0s;

    &:hover, &:focus {
        color: darken($orange, 6%);
        outline: none;
    }
}

p {
    color: $oil;
    font-size: 1.6rem;

    + p {
        margin-top: 20px;
    }
}

.card {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    background: $off-white;
    width: 100%;

    &.clickable {
        box-shadow: $box-shadow-weak;
        transition: $transition-normal;

        &:hover, &:focus {
            transform: translateY(-5px);
            box-shadow: $box-shadow-strong;
            transition: $transition-normal;
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
