@import '../../../styles/vars';

:host {
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: $content-width;

        .breadcrumb {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 40px;
            color: $grey;
            font-size: 1.6rem;
            font-weight: $regular;
            transition: $transition-normal;

            &:not(:last-child) {
                margin-right: 30px;

                &::after {
                    content: '/';
                    color: $grey;
                    position: absolute;
                    top: 10px;
                    right: -19px;
                    z-index: -1; // So the element isn't clickable
                }
            }

            &:not(.is-active) {
                &:hover, &:focus {
                    transition: $transition-normal;
                    color: $text-white;
                }
            }

            &.is-active {
                color: $text-white;
            }
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        nav {
            .breadcrumb {
                height: 30px;

                &:not(:last-child) {
                    &::after {
                        top: 5px;
                    }
                }
            }
        }
    }
}
